@media (max-width: 768px) {
    #page2{
        display: none;
    }
    .container {
        position: relative;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100vh;
        background: transparent;
        overflow-x: hidden;
    }

    #circle8{
        height: 300px;
        width: 300px;
    }

    #nav2{
        display: none;
    }
    
}



@media (max-width : 600px) {
    #nav-right a{
        font-size: 5vw;
        color: #fff;
        font-weight: 400;
        text-transform: capitalize;
        margin-left: 1vw;
        letter-spacing: 1px;
        text-decoration: none;
      }
      #page3{
        height: 100vh;
        width: 100%;
        display: block;
      }

      #domain{
        height: 100vh;
        width: 100%;
        display: block;
        background-color: transparent;
      }
    #nav{
        margin-top: 4vw;
    }
    
    .social-link{
        height: 6vw !important;
        width: 100%;
        position: relative;
        margin-top: 6vw !important;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 2vw;
    }
    .social-link i{
        font-size: 6vw !important;
        margin-top: 6vw;
        transition: all ease 1s;
    }
    .social-link2{
        height: 6vw !important;
        width: 100%;
        position: relative;
        margin-top: 6vw !important;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 2vw;
    }
    .social-link2 i{
        font-size: 6vw !important;
        margin-top: 6vw;
        transition: all ease 1s;
    }

    .h1{
        font-size: 3vw;
        position: relative;
        top: 12vh;
        text-align: center;
        color: #012970;
      }
    #nav-left{
        height: 100%;
        width: 50%;
    }
    #nav-left img{
        height: 100%;
        width: 90%;
        object-fit: cover;
        object-position: left;
    }
    .drop-left{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        margin-top: -20%;
    }
    .dropin{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .drop-right{
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 6vw;
        margin-top: 8vw;
    }
    .drop-left img{
        height: 120%;
        width: 100%;
    }
    .drop-left i{
        font-size: 8vw !important;
    }
    .drop-left .social-link{
        height: 100px !important;
        width: 100px;
        display: grid;
        grid-template-areas: "a a a";
        gap: 12px;
        grid-auto-rows: 26px;
        }
    #nav-right .res{
        display: none;
    }
    #menu button{
        padding: 2vw 3vw;
    }
    .close{
        position: relative;
        top: 6%;
        left: 82%;
    }
    .menu-btn{
        position: relative;
    }
    #menu button i{
        color: #FFD800;
        font-size: 4vw;
    }
    .menu-btn{
        opacity: 1;
        display: block;
    }
    .img2{
        width: 25vw !important;
        height: 20vw !important;
    }

    .drop{
        pointer-events: none;
        display: none;
        z-index: 99;
    }
    #nav-right:hover .drop{
        opacity: 1;
    }
    

}

