@media (max-width: 768px) {

  #page1{
    width: 100vw;
    height: 50vw;
    position: relative;
  }  

  #con h1{
    font-size: 8vw;
  }
  
  #con p{
    font-size: 3vw;
  }

    #page2{
        display: none;
    }
    .container {
        position: relative;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100vh;
        background: transparent;
        overflow-x: hidden;
    }

    #circle8{
        height: 300px;
        width: 300px;
    }

    #nav2{
        display: none;
    }
    
}



@media (max-width : 600px) {
 
    

    #page4 {
        display: flex;
        flex-direction: column;
    }

    
#page42 {
    height: 70%;
    width: 35%;
    /* background-color: rgb(46, 194, 46); */
    flex-direction: column;
    display: flex;
    align-items: center;

}

#page42 h1 {
    font-size: 60px;
    margin-right: 0px;
    text-align: center;
    padding-bottom: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#page42 p {
    width: 90%;
    font-size: 20px;
    text-transform: capitalize;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: fit-content;
    width: 70vw;
}
#pagecollect62{
    width: 100%;
    height: 50%;
    background-color: chocolate;
    display: flex;
}

.image-container {
    position: relative;
    height: 80%;
    width: 85%;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#page5 {
    height: 100vh;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--teriary-color);

}


#page52 {
    height: 70%;
    width: 85%;
    border-radius: 20px;
    overflow: hidden;
}

#page52 img {
    height: 100%;
    width: 100%;
}

#page51 {
    height: 70%;
    width: 100%;
    /* background-color: rgb(46, 194, 46); */
    flex-direction: column;
    display: flex;
    align-items: center;

}

#page51 h1 {
    font-size: 60px;
    text-align: center;
    text-transform: capitalize;
    margin-right: 0px;
    padding-bottom: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#page51 p {
    font-size: 20px;
    padding: 10px 50px;
    text-transform: capitalize;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}




.button-animation {
    position: relative;
    display: inline-block;
    padding: 10px 50px;
    color: #000;
    font-weight: 700;
    margin-top: 2vw;
    /* color: var(--secondary-color); */
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 4px;
    transition: 0.5s;
    background-color:gold;
    margin-right: 0px;
  }

  #page6 {
    height: fit-content;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}



#page62 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    height: fit-content;
    width: 100%;
}

#page62 div >.overlay{
    color: var(--secondary-color);
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.843);
    position: absolute;
    /* z-index: 99; */
    top: 100%;
    left: 0;
    transition: top .4s ease-in-out;
    display: flex;
    justify-items: center;
    align-items: start;
    flex-direction: column;
    gap: .1vw;
    padding-top: 1vw;
    padding-left: .4vw;
    /* background-color: aquamarine; */

}
.overlay h5{
    font-size: 5vw;
}
.overlay p{
    font-size: 3vw;
}
.overlay h6{
    font-size: 3vw;
}


#page7 {
    width: 100vw;
    height: 50vw;
}
.b1{
    width: 50vh;
    height: 60vh;
    /* object-fit:cover; */
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

#page7 h1 {
    font-size: 5vh;
}

#page71 {
    width: 100vw;
    height: 20vw;
}

#box711 {
    height: 35vw;
 width: 100vw;
 /* background-color: azure; */
 flex-direction: column;
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-radius: 20px;
}

#page8 {
    /* height: 100vh; */
    width: 100vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-left: 5vw;
}

#page8 h1 {
    font-size: 5vh;
}

#page81 {
    height: 70vh;
    width: 100vw;
    /* background-color: cornflowerblue; */
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    position: relative;
}

#circle8{
    height: 50vw;
    width: 50vw;
}

#page9 {
    /* height: 100vh; */
    width: 100vw;
    /* background-color: rgb(189, 132, 107); */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 2.4vw;
}

#page92 {
    margin: 10vw;
    height: 90vw;
    width: 100vw;
    /* background-color: chartreuse; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 5vw;
    align-items: center;
    justify-content: space-between;

}
#page92 div {
    height: 40vw;
    width: 40vw;
    background-color: cornsilk;
    border-radius: 50%;
    transition: all ease 0.5s;
}


#page9 h1 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5vw;
}
#page9 p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5vh;
    width: 100vw;
    margin: 2vw;
}

.video-container{
    height: 50vh;
    width: 50vw;
}


#footer {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #eee;
}
#footer h1 ,#footer p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

#footer1 {
    display: flex;
    gap: 40px;
}

#footer1 i {
    font-size: 40px;
    cursor: pointer;
}

}

